.pagina-inicio {
    .conteudos {
        .titulo {
            margin: 40px 55px 20px 55px;
        }

        .cards {
            padding: 5px 40px 40px 20px;
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
        }
    }
}